@import url('https://fonts.googleapis.com/css2?family=Saira:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
  scroll-behavior: smooth;
}
html body {
  font-family: "Saira", sans-serif;
}

section {
  padding: 15vh 0;
}

/* HERO */
.hero {
  position: relative;
  width: 100%;
  padding-top: 25vh;
  margin-bottom: 70px;
  background-size: cover;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 36%, rgba(0, 0, 0, 0.65) 100%), url("img/galeria/header-hero/hero.jpg") no-repeat center center scroll;
}
.hero:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle farthest-corner at 12.3% 19.3%, rgba(136, 85, 218, 0.726) 0%, rgb(95, 209, 249) 100%);
  opacity: 0.8;
}

/* HERO */
.hero .mobile-image {
  margin-bottom: -158px;
  max-width: 100%;
}

/* GALERIA */
#galeria {
  background-image: radial-gradient(circle farthest-corner at 12.3% 19.3%, rgb(85, 88, 218) 0%, rgb(95, 209, 249) 100%);
}

/* ? PRECIO */
.price-box {
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  -webkit-text-decoration-style: inherit;
          text-decoration-style: inherit;
  color: #17a2b8;
  box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.1);
  transition: 0.5s all ease;
  margin-bottom: 60px;
}
.price-box:hover {
  box-shadow: 0 0 50px -15px #4d43c6;
}

.price-box.price-header {
  padding: 40px;
  background: linear-gradient(45deg, rgb(72, 44, 191) 0%, rgb(106, 198, 240) 100%);
  position: relative;
  overflow: hidden;
  z-index: 2;
  transition: 0.5s all ease;
}
.price-box.price-header:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #f2f3fc;
  z-index: -1;
  transition: 0.5s all ease;
}
.price-box:hover .price-header {
  color: #fff;
}

.price-box:hover .price-header:before {
  opacity: 0;
}
.price-box .price-icon {
  font-size: 60px;
  margin-bottom: 10px;
}
.price-box .price-header h4 {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 3px;
}
.price-box .price-body {
  padding: 40px;
}
.price-box .price-list-features {
  list-style: none;
  margin: 0;
  padding: 0;
}
.price-box .price-rate {
  margin-bottom: 40px;
  font-size: 20px;
}
.price-box .price-rate sup {
  top: -20px;
  font-size: 26px;
}
.price-box .price-rate .rate {
  font-size: 56px;
}
.price-box .price-footer {
  margin-bottom: 40px;
}

/* CONTACTO */
.subscribe-area {
  background: url("img/galeria/header-hero/hero.jpg") no-repeat scroll center center/cover;
}
.subscribe-area__form {
  background-color: #fff;
  padding: 60px;
  border-radius: 5px;
}

/* FOOTER */
footer {
  background: #4d43c6;
  color: #ccc;
}
footer .rrss-icon {
  font-size: 20px;
  color: #ccc;
}
footer .rrss-icon:hover {
  color: #17a2b8;
  text-decoration: none;
  transition: 0.5s all ease;
}
footer .copy {
  font-size: 10px;
}
footer .copy-link {
  color: #ccc;
}
footer .copy-link:hover {
  color: #17a2b8;
  text-decoration: none;
  transition: 0.5s all ease;
}/*# sourceMappingURL=styles.css.map */